/* #hasis(e2d79a3ca0c8814a) #css starts  */
.headere2d79a3ca0c8814a .head{ 
    color: red
}
.headere2d79a3ca0c8814a .button{
    background-color: rgb(255, 187, 0);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-weight: bold;
    border-radius: 12px
}
/* #hasis(e2d79a3ca0c8814a) #css ends  */

/* #agadu(h66a519b827a7d261) #css starts  */
.abouth66a519b827a7d261 .DescriptionHeading {
    font-size: 34px;
    color: #0A033C
}

.abouth66a519b827a7d261 .DescriptionPara {
    color: #0A033C;
    font-size: 18px
}

.abouth66a519b827a7d261 .descriptionImage img{
    height: 400px;
    width: 500px
}
.abouth66a519b827a7d261 .searchBtn{
    background-color:#1DA599;
    border-radius: 7px;
    color: white;
    font-weight: bold
}
/* #agadu(h66a519b827a7d261) #css ends  */

/* #cactus(c21250bc5580fa9c2) #css starts  */
    .clientsc21250bc5580fa9c2 #clients {
        padding: 50px 0
    }

    .clientsc21250bc5580fa9c2 #clients .clients-wrap {
        margin-bottom: 20px
    }

    .clientsc21250bc5580fa9c2 img {
        height: 40px;
        width: 100px
    }

    .clientsc21250bc5580fa9c2 #clients .client-logo {
        padding: 60px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        overflow: hidden;
        background: #F5F9FC;
        height: 100px
    }
/* #cactus(c21250bc5580fa9c2) #css ends  */

/* #agadu(bf5e9e9e7ee746db) #css starts  */
.aboutbf5e9e9e7ee746db .DescriptionHeading {
    font-size: 34px;
    color: #0A033C
}

.aboutbf5e9e9e7ee746db .DescriptionPara {
    color: #0A033C;
    font-size: 18px
}

.aboutbf5e9e9e7ee746db .descriptionImage img{
    height: 400px;
    width: 500px
}
.aboutbf5e9e9e7ee746db .searchBtn{
    background-color:#A560F4 ;
    border-radius: 7px;
    color: white;
    font-weight: bold
}
/* #agadu(bf5e9e9e7ee746db) #css ends  */

/* #suki(s1fae57451461b568) #css starts  */
.sliders1fae57451461b568 .card img{
    height: 50px;
    width: 50px;
    margin-left: 50px
}
.sliders1fae57451461b568 .btnStyle{
    background-color: #1DA599
}
.sliders1fae57451461b568 .icon{
    color: white
}
.sliders1fae57451461b568 .card-text{
    font-weight: bold
}
/* #suki(s1fae57451461b568) #css ends  */

/* #single(eb6af6ab30a03fde) #css starts  */
.serviceeb6af6ab30a03fde{
    background: #F7F5FA
}
.serviceeb6af6ab30a03fde span{
    font-size:15px
}
.serviceeb6af6ab30a03fde .box{
    padding:40px 0px
}

.serviceeb6af6ab30a03fde .box-part{
    background:#FFF;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px
}
.serviceeb6af6ab30a03fde .text{
    margin:20px 0px
}

.serviceeb6af6ab30a03fde .fa{
 color: aqua;
 margin-left: 25px
}
@media (max-width: 576px) {
    .serviceeb6af6ab30a03fde .box-part{
            text-align: center
        }
}
/* #single(eb6af6ab30a03fde) #css ends  */